{# <link rel="stylesheet" href="{{asset('assets/css/all.css')}}" >  #}
<!-- Footer -->
	<div class="bg-secondary mb-0">
		<footer class="pt-5 pb-4 " id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">A propos de Nous</h5>
						<p class="mb-4">Boutique ouverte du Lundi au Samedi de 9h à 12h30 et de 14h à 19h30</p>
						
							<div class="row">
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Addresse:</h6>
										<p>2 Rue de la pompe</p>
									</div>
								</div>
							<div class="row">
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Nous contactez</h6>
										<p><a href="#">contactrhumasug.@gmail.com</a></p>
									</div>
								</div>
						</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Information</h5>
						<div class="row">
									<div class="col-10">
										<p class="mb-0">Conditions générales </p>
									</div>
								</div>
							    <br>
								<div class="row">
									<div class="col-10">
										<p class="mb-0">Politique de confidentialité</p>	
									</div>
								</div>
							     <br>
								<div class="row">
									<div class="col-10">
										<p class="mb-0">Mentions légales</p>
									</div>
								</div>
							
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Client</h5>
						    <span><a href="{{path('accueil')}}">Connexion à mon compte</a></span>
							    <br>
								<span>Livraisons</span>	
							    <br>
							<span>Nos Evénements</span>
						</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Inscrivez-vous à la NEWLETTER RHUMA SUG</h5>
						<div class="input-group">
						  	<input type="text" class="form-control" placeholder="votre adresse Mail">
						  	<button type="button" class="btn btn-warning">souscrire</button>
						</div>
						<h5 class="mb-4 font-weight-bold">Suivez-nous sur:</h5>
                            <img src="{{asset ('assets/images/SNAP 3.png')}}" class="img-responsive" alt="logo" width="40px;">
                            <img src="{{asset ('assets/images/instagram-sketched 3.png')}}" class="img-responsive" alt="logo" width="40px;">
                            <img src="{{asset ('assets/images/icons8-facebook 3.png')}}" class="img-responsive" alt="logo" width="50px;">
                    </div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
                        <div class="text-center text-black">
							L'abus d'alcool est dangereux pour la santé! A consommer avec Modération.
						</div>
						<div class="text-center text-black">
							&copy; 2020 Your Company. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>