<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<img src="{{asset ('assets/images/Group.png')}}" class="img-responsive" alt="logo" width="66px;">
  <a class="navbar-brand" href="{{path('accueil')}}">Rhuma Sug</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{path('nous')}}"><img src="{{asset ('assets/images/icone-qui-sommes-nous (1).png')}}" class="img-responsive" alt="logo" width="40px;">Qui sommes-nous?</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{{path('compte')}}"> <img src="{{asset ('assets/images/logofree 2.png')}}" class="img-responsive" alt="logo" width="40px;">Mon Compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('paquet')}}"><img src="{{asset ('assets/images/panier 2.png')}}" class="img-responsive" alt="logo" width="30
        px;"> Mon Panier</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" href="{{path('connectionprofil')}}"><img src="{{asset ('assets/images/profil.png')}}" class="img-responsive" alt="logo" width="40px;"> Mon Profil</a>
      </li>
    </ul>

  </div>
  
</nav>